POSTGRES_DB=fintrack_db
POSTGRES_USER=fintrack_user
POSTGRES_PASSWORD=CHANGE_THIS_LOCAL_POSTGRES_PASSWORD

JWT_ISSUER=FinTrack.Api
JWT_AUDIENCE=FinTrack.Client
JWT_SECRET=CHANGE_THIS_TO_A_LONG_SECURE_SECRET_KEY_WITH_AT_LEAST_32_CHARS
JWT_EXPIRATION_MINUTES=60
